body {
  background: url(../img/springboard-bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica', sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: #292929;
  padding-top: 40px;
  text-align: center;
}

label {
  color: #888888;
  display: block;
  font-size: 12px;
  font-weight: 700;
  padding-left: 63px;
  margin-bottom: 10px;
}

input {
  display: block;
  padding: 10px 10px;
  margin: 0 auto;
  width: 300px;
}

input:focus {
  background: white;
  border: 2px solid #292929;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

button {
  background: #2ebfa5;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: 700px;
  height: 50px;
  margin: 40px auto;
  outline: none;
  text-align: center;
  transition: 0.2s linear;
  width: 320px;
}

button:hover {
  background: #30846e;
}

#container {
  max-width: 650px;
  margin: 0 auto;
}

#logo {
  width: 200px;
  display: block;
  margin: 40px auto;
}

#copyright {
  color: #494949;
  font-size: 11px;
  margin: 40px 0;
  text-align: center;
}

.form-container {
  background: #fff;
  height: 100%;
  margin: 0 auto;
  width: 450px;
}

.form-group {
  margin: 30px 0;
}

.hidden {
  display: none;
}

.button-group {
  text-align: center;
}

.-small {
  width: 160px;
  display: inline;
}

.-none {
  background-color: transparent;
  background-repeat: no-repeat;
  color: white;
}

.-none:hover {
  background-color: transparent;
  background-repeat: no-repeat;
}

.-outline {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 2px solid #2ebfa5;
  color: #2ebfa5;
}

.-outline:hover {
  background-color: transparent;
  background-repeat: no-repeat;
}
